# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo


# reports for security tests
reports/
*.report.json
*.report.html
npm-audit*.json
snyk-report*.json
snyk-report*.html
eslint-security-report*.json
eslint-report*.json

app-example
.env
TourGuideApp.code-workspace
functions/firebase-debug.log
.firebase/hosting.ZGlzdA.cache
.github/copilot-instructions.md
